<nav class="navbar">
    <ul>
        <li><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'admin_users' %}">Users</a></li>
        <li><a href="{% url 'admin_items' %}">Items</a></li>
        <li><a href="{% url 'manage_borrows' %}">Borrowing</a></li>
        <li><a href="{% url 'admin_penalties' %}">Penalties</a></li>
        <li><!-- Reports view not implemented -->Reports</li>
        <li class="logout"><a href="{% url 'signout' %}">Logout</a></li>
    </ul>
</nav>